
@model dotnethelloworld.Models.Movie
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p><b>Movie:</b>@Model.Name</p> 
<p><b>Config:</b>@Model.Config</p>